body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(49, 47, 47);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: whitesmoke;
}

.weatherForm {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cityInput {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 35px;
    margin: 10px;
    width: 200px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgba(31, 195, 200, 0.935);
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(215, 50, 86);
}

.card {
    background: linear-gradient(180deg, rgb(120, 208, 237), rgb(103, 30, 240));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherInfo {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 3rem;
}

.errorDisplay {
    font-size: 1.5rem;
    font-weight: bold;
}
